.container * {
  display: flex;
  align-items: center;
}
.textContainer {
  width: 50%;
  padding: 0px 0px 0px 40px;
  flex-direction: column;
}
.text {
  font-size: 30px;
  line-height: 6vh;
}
/*===MEDIA QUERIES FROM https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ =======*/
/* ================= TABLET ================*/
@media screen and (width: 741px){
  .textContainer {
    width: 100%
  }
  .text {
    font-size: 1.5rem
  }
}
/* ================= MOBILE ================*/
@media screen and (max-width: 740px){
  .textContainer {
    width: 85%;
    padding: 0;
    margin: auto;
  }
  .text {
    font-size: 21px;
    line-height: 5.5vh;
  }
}
